<template>
  <div class="<%= cssName %>">
    <%= componentNamePascalCase %>
  </div>
</template>

<script>
export default {
  name: '<%= componentNamePascalCase %>',
  components: {},
  props: {},
  data () {
    return {}
  },
  computed: {},
  created() {},
  methods: {}
}
</script>

<style scoped>

</style>